@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Oxygen+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  font-family: 'Oxygen Mono', monospace;
}

.light-theme::-webkit-scrollbar {
  display: none;
}

.dark-theme::-webkit-scrollbar {
  display: none;
}

:root {
  --text-black: #333332;
  --primary-color: #FAF4E5;
  --primary-pink: #e5a1aa;


  /* Light Theme */
  --color-text-light: #333332;
  /* --color-background-light: #d6bfaf; */
  /* --color-background-light: #ffd4b5; */
  --color-background-light: #f1cd6c;
  

  /* Dark theme */
  --color-text-dark: #FAF4E5;
  --color-background-dark: #111518ff;
  /* --color-background-dark: #421A10; */
  

  /* CSS HEX LIGHT */
  --apple-green: #899F26ff;
  --citron: #CAC538ff;
  --cambridge-blue: #9CB29Cff;
  --russet: #783A1Aff;
  --apple-green-2: #91A937ff;


  /* CSS HEX DARK */
  --night: #111518ff;
  --field-drab: #675103ff;
  --drab-dark-brown: #4B440Cff;
  --bistre: #35220Dff;
  --brown-sugar: #A46239ff;

  --ocean-blue: #536dff;
}

.light-theme {
  /* --color-text: #333332; */
  --color-text: #FAF4E5;
  --color-text-light: #FAF4E5;
  --color-text-dark: #333332;
  --color-section-background: var(--color-background-dark);
  /* --color-section-title: var(--russet); */
  --color-section-title: #FAF4E5;
  --color-toggle-background: #3e3a3b;
  --color-toggle-circle: #98bfbe;
}

.dark-theme {
  --color-text: #FAF4E5;
  --color-text-light: #FAF4E5;
  --color-text-dark: #333332;
  --color-section-background: var(--color-background-dark);
  --color-section-title: #FAF4E5;
  --color-toggle-background: #3e3a3b;
  --color-toggle-circle: var(--color-background-dark);
}

/* Experience ------------------------------------- */

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /*background-color: green; */
}

.experience-canvas {
  /* background-color: lavender; */
  width: 100%;
  height: 100%;
}

/* Page --------------------------------------------- */

.page {
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/* Toggle Bar ----------------------------------------- */

.toggle-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.sun-wrapper, .moon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  margin: 10px 0px;
  filter: invert(100%) sepia(8%) saturate(2%) hue-rotate(307deg) brightness(106%) contrast(100%);
}

.moon-wrapper {
  margin-left: auto;
}

.toggle-button {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-toggle-background);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* box-shadow: inset 0 0 50px #fff; */
  box-shadow: 0 0 10px #6a6a6a;


  padding: 0px 6px;
}

.toggle-circle {
  position: absolute;
  left: 4px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: var(--color-toggle-circle);
  transition: all 0.2s ease-in-out;
}

.slide {
  transform: translateX(44px);
}

.collapsible-header {
  /* width: 50%; */
  color: var(--text-color-dark);
  box-shadow: inset 0 -5px 0 0 var(--ocean-blue);
  cursor: pointer;
  border-radius: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;  
}

.collapsible-header:hover {
  border-radius: 2px;
  padding: 0px 10px;
  box-shadow: inset 0 50px 0 0 var(--ocean-blue);

}

.collapsible-content {
  display: none;
}

/* Formatting ----------------------------------------- */

.profile-image {
  width: 200px;
  border-radius: 30px;
  padding: 10px 10px;
}

.waterloo-link {
  box-shadow: inset 0 -5px 0 0 #ffd64e;
  color: var(--color-text);
  font-weight: 700;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.waterloo-link:hover {
  color: var(--color-text-dark);
  box-shadow: inset 0 -30px 0 0 #ffd64e;
}

.creative-link {
  box-shadow: inset 0 -5px 0 0 #b5c036;
  color: var(--color-text);
  font-weight: 700;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.creative-link:hover {
  color: var(--color-text-dark);
  box-shadow: inset 220px 0 0 0 #b5c036;
}

.music-link {
  box-shadow: inset 0 -5px 0 0 #FAF4E5;
  color: var(--color-text);
  font-weight: 700;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.music-link:hover {
  color: var(--color-text-dark);
  box-shadow: inset 300px 0 0 0 #FAF4E5;
}

.react-link {
  box-shadow: inset 0 -5px 0 0 #61dbfb;
  color: var(--color-text);
  font-weight: 700;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.react-link:hover {
  color: var(--color-text-dark);
  box-shadow: inset 220px 0 0 0 #61dbfb;
}

.bdo-link {
  box-shadow: inset 0 -5px 0 0 #ef3c24;
  color: var(--color-text);
  font-weight: 700;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.bdo-link:hover {
  color: var(--color-text-light);
  box-shadow: inset -220px 0 0 0 #ef3c24;
}

.end-msg {
  background-color: var(--color-section-title);
  box-shadow: 4px 4px var(--color-section-background);
  padding: 4px;
  border-radius: 12px;
}

.section-margin {
  height: 1500px;
  width: 100%;
}

.section {
  width: 42%;
  padding: 800px 4%;
  margin: 0;
  background-color: var(--color-section-background);
}

.first-section {
  color: var(--color-section-title);
  border-radius: 0px 100px 100px 0px;
}

.second-section {
  color: var(--color-section-title);
  border-radius: 100px 0px 0px 100px;
}

.third-section {
  color: var(--color-section-title);
  border-radius: 0px 100px 100px 0px;
}


.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-section-title);
  padding-bottom: 400px;
}

.section-detail-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 10% 0%;
  max-width: 700px;
  color: var(--color-text);
}

.section-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
}

/* Title Decoration Stuff */
.section-title{
  position: relative;
  /* color: white; */
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
}

.styleOne, .styleTwo, .styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid ;

  transform-origin: left;
  transform: skewY(-25deg);
  z-index: 5;
}

.styleOne {
  top: 0px;
}

.styleTwo {
  top: 80px;
}

.styleThree {
  top: 80px;
  transform-origin: left;
  background-color: var(--color-section-title);
  transform: skewY(25deg);   
}

.section-number {
  position: absolute;
  bottom: 15px;
  right: 0px;
  color: var(--color-section-title);
  font-size: 30px;  
}


/* Hero section --------------------------------------- */
.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  max-width: 1700px;
}

.hero-main {
  position: absolute;
  max-width: 680px;

  background-color: var(--color-section-background);

  box-shadow: 20px 20px #181818;
}

.hero-second {
  position: absolute;
  top: calc(50% - 100px);
  /* right: 0; */
  left: 0;

  background-color: var(--color-section-background);
  padding: 20px 20px;
  box-sizing: border-box;

  box-shadow: 10px 10px;
}

.hero-main-title {
  color: var(--color-section-title);
  /* color: #ffffff; */
}

.hero-main-description {
  /* font-size: 20px; */
  color: var(--color-section-title);
  /* color: #ffffff; */

}

.hero-second-subheading {
  font-size: 32px;
  text-transform: uppercase;

  color: var(--color-section-title);
}


/* Media Queries */
@media (max-width: 968px){
  .section{
    width: 100%;
  }
}


/* styles.css */
#skillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Decreased the minmax value */
  gap: 10px; /* Decreased the gap value */
  justify-items: center;
}

.skill-card {
  width: 100px; /* Reduced the width */
  height: auto;
  padding: 10px; /* Reduced the padding */
  border: 1px solid #ccc;
  border-radius: 5px; /* Reduced the border radius */
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-card img {
  max-width: 100%; /* Ensure the image doesn't exceed the card width */
  max-height: 50px; /* Reduced the max-height */
  object-fit: contain; /* Maintain the aspect ratio without cropping */
  border-radius: 5px; /* Reduced the border radius */
  margin-bottom: 5px; /* Reduced the margin */
}

.skill-card .skill-name {
  font-size: 12px; /* Reduced the font size */
  font-weight: bold;
}

.skill-card:hover {
  transform: scale(1.1) translateY(-5px); /* Add a slight bounce effect */
  z-index: 1;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  border-color: #ffd64e;
  filter: saturate(100%) brightness(120%) contrast(120%);
  transition: transform 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55), /* Add a custom cubic-bezier for bounce effect */
              box-shadow 0.15s ease,
              border-color 0.15s ease,
              z-index 0s 0.15s;
}

.skill-card:not(:hover) {
  transform: scale(0.9); /* Shrink other cards slightly */
  opacity: 0.85; /* Reduce opacity for fade effect */
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), /* Add the same cubic-bezier for consistency */
              opacity 0.15s ease; /* Adjust opacity transition */
}